#upload-part {
  padding: 15px;
  margin-left: 220px;
  border-radius: 3px;
  border: 3px solid #CCC;
  background-image: none;
  width: 300px;
}

#header {
  margin-left: 172px;
  margin-bottom: 20px;
  font-size: 35px;
  font-family: sans-serif;
}


.submit-btn {
  padding: 7px 15px;
  font-size: 14px;
  margin-top: 10px;
  background-color: #2196F3;
  color: white;
  /*border: none; */
  border-radius: 5px;
  border: 2px ;
  cursor: pointer;
}
.submit-btn:hover {background: #0b7dda;}

