<!doctype HTML>
<html>
<head><title>Flask Image App</title>
	<link href="static/main.css" rel="stylesheet" type="text/css">
	<!-- <link href="static/bootstrap.min.css" rel="stylesheet" media="screen"> -->

</head>


<body>
	<p id="header"> Upload Image</p>
	<div id=upload-part>
		<form action="upload" method="post" enctype="multipart/form-data">
	    	<input type="file" name="file" class="upload-btn"><br>
	    	<input type="submit" value="Upload" class="submit-btn">
    	</form>
	</div>
</body>
</html> 



